

.pizza .container-pizza {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.pizza .container-pizza .container-pizza-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}


.pizza .container-pizza .country-name {
    color: #4D4F5C;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px 0;
}

.pizza .container-pizza .slide-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pizza .container-pizza .slide-dots .slide-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #707070;
    margin: 4px;
    opacity: 30%;
}