.incidents {
    position: relative;
    padding-bottom: 60px;
}

.incidents h1 {
    padding: 30px 0 0 30px;
    position: absolute;
    top: -80px;
}

.incident {
    padding: 50px 0 30px 60px;
}


.incidents h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 20px 0;
}

.incident-status {
    display: flex;
    padding: 0 80px 0 0;
    text-align: justify;
}

.incident-status:not(:first-child){
    padding-top: 30px;
}

.incident-status div {
    font-family: "Source Sans Pro", sans-serif;
    padding-left: 30px;
    position: relative;
}

.incident-status div hr {
    position: absolute;
    width: 1000px;
}

.incident-status h3 {
    font-size: 18px;
    font-weight: 400;
}

.incident-status p {
    color: #4D4F5C;
    font-size: 16px;
    opacity: .9;
}

.incident-status div span {
    color: #4D4F5C;
    font-size: 12px;
    opacity: .7;
}

.incident .check {
    height: 24px;
    width: 24px;
    border: 1px solid #5EE2A0;
    border-radius: 50%;
    color: #5EE2A0;
    background: #FFF;
}

.incident .eye {
    height: 24px;
    width: 24px;
    border: 1px solid #81C9FF;
    border-radius: 50%;
    color: #81C9FF;
    background: #FFF;
}

.incident .info {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    color: #FFF;
    background:#FFCA83;
}

.incident .no-incident {
    font-family: 'Trebuchet MS', serif;
    font-size: 16px;
    font-style: italic;
    color: #4D4F5C;
    opacity: 80%;
    padding: 40px 0;
}